#! /bin/bash

## Change to directory of where this script is located
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
cd "$DIR" || exit;

case "$1" in
    web)
        webcont="$(docker-compose ps -q moodle)"
        docker exec -ti $webcont bash
        ;;

    db)
        dbcont="$(docker-compose ps -q db)"
        docker exec -ti $dbcont mysql -u root --password=password
        ;;

    testdb)
        dbtestcont="$(docker-compose ps -q test-db)"
        docker exec -ti $dbtestcont mysql -u root --password=password
        ;;

    dbrestore)
        dbcont="$(docker-compose ps -q db)"
        gunzip < $2 | sed -r '/INSERT INTO `(mdl_logstore_standard_log|mdl_analytics|mdl_log).*`/d' | docker exec -i $dbcont mysql -uroot -ppassword
        ;;

    dbrestorebz2)
        dbcont="$(docker-compose ps -q db)"
        bunzip2 < $2 | sed -r '/INSERT INTO `(mdl_logstore_standard_log|mdl_analytics|mdl_log).*`/d' | docker exec -i $dbcont mysql -uroot -ppassword
        ;;

    *)
        echo Invalid command "$1"
        exit 1
esac