#! /bin/bash

## Change to directory of where this script is located
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
cd "$DIR" || exit;

case "$1" in
    web)
        webcont="$(docker-compose ps -q moodle)"
        docker exec -ti $webcont bash
        ;;

    db)
        dbcont="$(docker-compose ps -q db)"
        docker exec -ti $dbcont /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Mysecretpassw0rd
        ;;        

    testdb)
        dbtestcont="$(docker-compose ps -q test-db)"
        docker exec -ti $dbtestcont /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Mysecretpassw0rd
        ;;

    createdb)
        dbcont="$(docker-compose ps -q db)"
        docker exec -ti $dbcont /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Mysecretpassw0rd -i /db/createdb.sql
        dbcont="$(docker-compose ps -q test-db)"
        docker exec -ti $dbcont /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Mysecretpassw0rd -i /db/createdb.sql
        ;;

    *)
        echo Invalid command "$1"
        exit 1
esac