version: '3'

services:
  moodle:
    build: ./docker/moodle
    ports:
      - "127.0.0.1:80:80"
    volumes:
      - ./siteroot:/siteroot
  db:
    image: mysql:5.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle_user
      MYSQL_PASSWORD: password
    command: mysqld --innodb-file-format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix=1
    volumes:
      - 'db:/var/lib/mysql'
  test-db:
    image: mysql:5.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle_user
      MYSQL_PASSWORD: password
    command: mysqld --innodb-file-format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix=1 
    volumes:
      - 'testdb:/var/lib/mysql'
volumes:
    db:
    testdb: