version: '3'

services:
  moodle:
    build: ./moodle
    ports:
      - "80:80"
    volumes:
      - ./siteroot:/siteroot
  moodle-db:
    image: mysql:5.5
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle_user
      MYSQL_PASSWORD: password;
    command: mysqld --innodb-file-format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix=1
    volumes: 
      - 'moodledb:/var/lib/mysql'
  moodle-test-db:
    image: mysql:5.5
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle_user
      MYSQL_PASSWORD: password
    command: mysqld --innodb-file-format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix=1 
    volumes: 
      - 'moodletestdb:/var/lib/mysql'
volumes:
    moodledb:
    moodletestdb:
